__pycache__
db.sqlite3
media/
fluxcore/test_driver1.py
fluxcore/test_driver2.py
fluxcore/test_driver3.py
fluxtest/
fluxcore/__pycache__
fluxcore/Part_1/__pycache__
fluxcore/Part_2/__pycache__
fluxcore/Part_3/__pycache__